In [1]:
import json

In [2]:
ttp_info = []
for i in range(1,100):
    try:
        with open('ttps/'+str(i)+'.json', 'r') as f:
            x = json.load(f)
            ttp_info.append(x)
    except:
        pass

In [3]:
len(ttp_info)

84

In [4]:
ttp_info[0]
#group (threat actor info)

{'description': 'Enterprise techniques used by Axiom, ATT&CK group G0001 v1.1',
 'name': 'Axiom (G0001)',
 'domain': 'mitre-enterprise',
 'version': '2.2',
 'techniques': [{'score': 1,
   'techniqueID': 'T1015',
   'comment': 'Axiom actors have been known to use the Sticky Keys replacement within RDP sessions to obtain persistence.[1]'},
  {'score': 1,
   'techniqueID': 'T1003',
   'comment': 'Axiom has been known to dump credentials.[1]'},
  {'score': 1,
   'techniqueID': 'T1001',
   'comment': 'The Axiom group has used other forms of obfuscation, include commingling legitimate traffic with communications traffic so that network streams appear legitimate. Some malware that has been used by Axiom also uses steganography to hide communication in PNG image files.[1]'},
  {'score': 1,
   'techniqueID': 'T1190',
   'comment': 'Axiom has been observed using SQL injection to gain access to systems.[1][5]'},
  {'score': 1,
   'techniqueID': 'T1076',
   'comment': 'The Axiom group is known to have used RDP during operations.[1]'}],
 'gradient': {'colors': ['#ffffff', '#66b1ff'], 'minValue': 0, 'maxValue': 1},
 'legendItems': [{'label': 'used by Axiom', 'color': '#66b1ff'}]}

In [5]:
tactic_info = {}
for i in ttp_info:
    if i.get('techniques'):
        for j in i.get('techniques'):
            if j.get('techniqueID'):
                temp = tactic_info.get(j['techniqueID'])
                if temp:
                    tactic_info[j['techniqueID']] = tactic_info[j['techniqueID']] + 1
                else:
                    tactic_info[j['techniqueID']] = 1

In [6]:
tactics = list(tactic_info.keys())

In [7]:
tactic_count = []
for i in tactics:
    tactic_count.append(tactic_info[i])

In [8]:
import pandas as pd
import matplotlib

In [9]:
df = pd.DataFrame({'tactics':tactics, 'val':tactic_count})

ax = df.plot.bar(x='tactics', y='val', rot=0)
fig = ax.get_figure()
fig.savefig('sample.png', dpi=1200)

In [10]:
df.sort_values('val', ascending=False)

    tactics  val
24    T1064   41
34    T1204   37
33    T1193   37
60    T1027   36
1     T1003   36
63    T1086   36
7     T1059   32
22    T1060   30
64    T1105   30
26    T1071   30
74    T1078   25
54    T1107   25
102   T1053   24
8     T1002   22
28    T1016   20
69    T1192   20
27    T1082   20
21    T1057   19
42    T1043   19
17    T1036   19
15    T1083   19
11    T1005   18
32    T1203   18
16    T1056   17
112   T1033   17
4     T1076   17
48    T1074   16
23    T1018   14
80    T1047   14
93    T1189   14
..      ...  ...
164   T1141    1
70    T1528    1
166   T1183    1
167   T1214    1
168   T1042    1
169   T1146    1
149   T1179    1
145   T1216    1
51    T1211    1
146   T1197    1
118   T1028    1
117   T1126    1
124   T1488    1
127   T1026    1
114   T1030    1
129   T1489    1
109   T1061    1
104   T1109    1
40    T1527    1
135   T1138    1
100   T1172    1
43    T1092    1
44    T1122    1
140   T1201    1
141   T1017    1
142   T1222    1
96    T1080    1
144   T1096    1
119   T1072    1
170   T1483    1

[171 rows x 2 columns]

In [ ]:
#T1064 is the highest used technique